@keyframes windowopen{
                from {
                transform: perspective(2000px) rotateX(-25deg) scale(92%);
                opacity: 0;
            }

            to {
                transform: rotateY(0deg) scale(100%);
                opacity: 1;
            }
            }

            @keyframes windowclose{
                from {
                    transform: rotateY(0deg) scale(100%);
                    opacity: 1;
                }
                to {
                transform: perspective(2000px) rotateX(25deg) scale(92%);
                opacity: 0;
            }

            }

            .b-header{
                background: linear-gradient(55deg, transparent 1%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 30%, rgba(0, 0, 0, 0.1) 32%, rgba(0, 0, 0, 0.1) 55%, transparent 57%, rgba(255, 255, 255, 0.1) 70%, transparent 72%);
                color: black;
                text-shadow: 0 0 8px white;
            }

            .box{
                background: rgba(162, 177, 199, 0.6);
                backdrop-filter: blur(2px);
                border-radius: 0px;
                border: none;
                animation: windowopen .4s;
            }

            .taskbar{
                background: rgba(162, 177, 199, 0.6) linear-gradient(55deg, transparent 1%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 30%, rgba(0, 0, 0, 0.1) 32%, rgba(0, 0, 0, 0.1) 55%, transparent 57%, rgba(255, 255, 255, 0.1) 70%, transparent 72%);
                backdrop-filter: blur(2px);
                border-top: 1px solid black;
            }

            .box:not(.max){
                background: rgba(162, 177, 199, 0.6);
                backdrop-filter: blur(2px);
                border-radius: 6px;
                border: 1px solid black;
                box-shadow: 0 0 24px black;
            }

            .box:not(.max) .b-close{
                margin-right: 6px;
            }

            .b-close{
                background-size: contain;
                position: relative;
                margin-right: 0px;
                margin-bottom: 16px;
                width: 42px;
                height: 17px;
            }
            .b-close:hover{
                filter: brightness(130%);
            }
            .b-close:active{
                filter: brightness(70%);
            }
            .b-max{
                background-size: contain;
                position: relative;
                margin-bottom: 3px;
                width: 26px;
                height: 17px;
            }
            .b-max:hover{
                filter: brightness(130%);
            }
            .b-max:active{
                filter: brightness(70%);
            }
            .b-min{
                background-size: contain;
                position: relative;
                margin-bottom: 3px;
                width: 25px;
                height: 17px;
            }
            .b-min:hover{
                filter: brightness(130%);
            }
            .b-min:active{
                filter: brightness(70%);
            }
            .box:not(.max) .b-max{
                background-size: contain;
                position: relative;
                width: 26px;
                height: 17px;
            }
            .box:not(.max) .b-max:hover{
                filter: brightness(130%);
            }
            .box:not(.max) .b-close:active{
                filter: brightness(70%);
            }

            .b-body{
                background-color: white;
            }

            .box:not(.focus) .b-close{
                background-image: url("inactive/close2-button.png");
            }
            .box:not(.focus) .b-max{
                background-image: url("inactive/res-Button.png");
            }
            .box:not(.focus) .b-min{
                background-image: url("inactive/min-button.png");
            }
            .box:not(.max):not(.focus) .b-max{
                background-image: url("inactive/max-button.png");
            }
            .box:not(.no-max) .b-close {
                background-image: url("close-button.png");
            }
            .box:not(.no-max):not(.focus) .b-close {
                background-image: url("inactive/close-button.png");
            }
            #startButton:hover{
                background-image: url('startHover.png');
                background-size: contain; 
                background-repeat: no-repeat; 
                background-position: center;
            }

            .taskbarIcon{
                background-size: 32px; 
                background-repeat: no-repeat; 
                background-position: center;
                position: absolute;
                top: 0
            }

            .box:not(.smalltitle) .b-header{
                height: 52px;
                line-height: 52px;
            }

            .box:not(.smalltitle) .b-body{
                top: 52px
            }

            .box:not(.smalltitle) .b-close, .b-max, .b-min{
                margin-bottom: 16px;
            }
            
            .b-tab{
                position: absolute;
                left: 12px;
                bottom: 0;
                width: 207px;
                height: 29px;
                cursor: default;
            }
            
            .b-newtab{
                position: absolute;
                left: 127px;
                bottom: 0;
                width: 207px;
                height: 29px;
                cursor: default;
            }

            .b-newtab:hover{
                filter: brightness(110%);
            }

            .b-bl{
                position: absolute;
                left: 6px;
                bottom: 6px;
                width: 780px;
                height: 26px;
                min-width: 780px;
                background-size: contain;
                cursor: default;
            }

            #selectable{
                width: 76px; 
                margin-top: 8px; 
                height: 110px; 
                background: none;
            }

            #selectable:hover{
                border-radius: 3px;
                box-shadow: 0 0 1px #a0fcff;
                background: rgba(112, 162, 185, 0.425);
            }

            #startButton{
                width: 50px; 
                height: 38px; 
                margin-top: 1px; 
                background-image: url('startDefault.png'); 
                background-size: contain; 
                background-repeat: no-repeat; 
                background-position: center;
            }

            #startMenu{
                width: 406px;
                height: 508px;
                position: absolute;
                top: -508px;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                background: rgba(162, 177, 199, 0.6) linear-gradient(55deg, transparent 1%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 30%, rgba(0, 0, 0, 0.1) 32%, rgba(0, 0, 0, 0.1) 55%, transparent 57%, rgba(255, 255, 255, 0.1) 70%, transparent 72%);
                backdrop-filter: blur(2px);
            }
